h1 {
	text-transform: capitalize;
	padding: 0 20px 0;
}

.app {
	height: 100vh;
}

.resource-body {
	/* header height: 100px | cum padding height: 75 */
	min-height: calc(100vh - 100px - 75px);
	width: 100%;
	margin: 0 auto;
}